@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 75 30% 95%;
    --foreground: 75 10% 10%;
    --card: 75 30% 99%;
    --card-foreground: 75 10% 10%;
    --popover: 75 30% 99%;
    --popover-foreground: 75 10% 10%;
    --primary: 74 61% 51%;
    --primary-foreground: 74 60% 10%;
    --secondary: 75 40% 90%;
    --secondary-foreground: 75 10% 10%;
    --muted: 75 40% 95%;
    --muted-foreground: 75 5% 45%;
    --accent: 90 55% 65%;
    --accent-foreground: 90 50% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 75 20% 85%;
    --input: 75 20% 90%;
    --ring: 74 61% 51%;
    --chart-1: 74 61% 51%;
    --chart-2: 90 55% 65%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 75 5% 12%;
    --foreground: 75 10% 90%;
    --card: 75 5% 16%;
    --card-foreground: 75 10% 90%;
    --popover: 75 5% 16%;
    --popover-foreground: 75 10% 90%;
    --primary: 74 61% 51%;
    --primary-foreground: 74 60% 10%;
    --secondary: 75 10% 24%;
    --secondary-foreground: 75 10% 90%;
    --muted: 75 10% 24%;
    --muted-foreground: 75 5% 60%;
    --accent: 90 55% 65%;
    --accent-foreground: 90 50% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 75 10% 24%;
    --input: 75 10% 24%;
    --ring: 74 61% 51%;
    --chart-1: 74 61% 51%;
    --chart-2: 90 55% 65%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
