
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Pengguna hanya dapat membaca/menulis data profil mereka sendiri.
    match /users/{uid} {
      allow read, update, delete: if request.auth != null && request.auth.uid == uid;
      allow create: if request.auth != null;
    }

    // Siapa pun yang terotentikasi dapat membaca log kualitas air.
    // Izin 'create' diperlukan agar klien dapat menambahkan data historis baru.
    match /water_quality_logs/{logId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null; // Izinkan pembuatan dokumen baru
      allow write: if false; // Mencegah pembaruan atau penghapusan dari klien
    }
  }
}
